/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.7;
   color: #777;
}

.header {
   height: 95vh;
   background-image: 
      linear-gradient(
         to right bottom,
         rgba(126, 213, 111, 0.8),
         rgba(40, 180, 133, 0.8)
      ),
      url(../img/hero.jpg
   );
   background-size: cover;
   background-position: center;
   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
   position: relative;
}

.logo-box {
   position: absolute;
   top: 40px;
   left: 40px;
}

.logo {
   height: 35px;
}

.text-box {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.heading-primary {
   color: #fff;
   text-transform: uppercase;
   backface-visibility: hidden;
}

.heading-primary-main,
.heading-primary-sub {
   display: block;
   text-shadow: 2px 2px 4px rgba(0, 100, 0, 0.3);
}

.heading-primary-main {
   font-size: 45px;
   font-weight: 400;
   letter-spacing: 20px;
   animation: moveToRight 0.8s ease-out 200ms;
}

.heading-primary-sub {
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 12.4px;
   animation: moveToLeft 0.8s ease-out 200ms;
}

@keyframes moveToRight {
   0% {
      opacity: 0;
      transform: translateX(-80px);
   }

   80% {
      transform: translateX(8px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes moveToLeft {
   0% {
      opacity: 0;
      transform: translateX(80px);
   }

   80% {
      transform: translateX(-8px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}