.footer {
   background-color: $color-grey-dark-3;
   padding: 10rem 0;
   font-size: 1.4rem;
   color: $color-grey-light-1;
   border: 10px solid $color-primary;
   border-top: 0;
   border-right-color: $color-primary-dark;
   border-radius: 0 0 20px 20px;
   
   &__logo-box {
      text-align: center;
   }

   &__logo {
      width: 15rem;
      height: auto;
   }

   &__navigation {
      padding: 2rem;
      border-top: 1px solid $color-grey-dark-2;
   }

   &__list {
      list-style: none;
      text-align: center;
   }

   &__item {
      display: inline-block;

      &:not(:last-child) {
         margin-right: 1.5rem;
      }
   }

   &__link {
      &:link,
      &:visited {
         color: $color-grey-light-1;
         background-color: $color-grey-dark-3;
         text-decoration: none;
         text-transform: uppercase;
      }

      &:hover,
      &:active {
         color: $color-primary;
         box-shadow: 0 1rem 2rem rgba($color-black, .4);
      }
   }

   &__copyright {
      text-align: justify;
      padding: 2rem;
      border-top: 1px solid $color-grey-dark-2;
   }
}