.navigation {
   &__checkbox {
      display: none;
   }

   &__button {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;

      position: fixed;
      top: 6rem;
      right: 6rem;

      background-color: $color-white;

      z-index: 2000;
   }

   &__background {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;

      position: fixed;
      top: 6.5rem;
      right: 6.5rem;

      background-image: radial-gradient($color-primary-light, $color-primary-dark);

      z-index: 1000;

      transform: scale(60);
   }

   &__nav {
      height: 100vh;
      width: 100%;

      position: fixed;
      top: 0;
      right: 0;

      z-index: 1500;
   }

   &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
   }

   &__item {
      margin: 1rem;
   }

   &__link {
      &:link,
      &:visited {
         display: inline-block;
         font-size: 2rem;
         font-weight: 300;
         padding: 1rem 2rem;
         color: $color-white;
         text-decoration: none;
         text-transform: uppercase;
         background-image: linear-gradient(120deg, transparent 0%, transparent 50%,  $color-white 50%);
         background-size: 220%;
         border: .1px solid #e6e6e6;
         width: 350px;
         border-radius: 12px;
         transition: all .4s;

         span {
            font-weight: 500;
            margin-right: 1rem;
         }
      }

      &:hover,
      &:active {
         background-position: 100%;
         color: $color-primary;
         transform: translateX(-1.5rem);
         border-color: transparent;
         transition: all .4s;
      }
   }
}