// natours colors

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ff9900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// $color-quaternary-light: #;
// $color-quaternary-dark: #;

$color-green-shadow: #006400;
$color-black-shadow-1: rgba(0, 0, 0, 0.2);
$color-black-shadow-2: rgba(0, 0, 0, 0.4);
$color-black-shadow-3: rgba(0, 0, 0, 0.6);
$color-black-shadow-4: rgba(0, 0, 0, 0.8);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-black: #000;
$color-white: #fff;

// font

$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$big-font-size: 2.2rem;


// grid

$grid-width: 114rem;
$gutter-horizontal: 3.6rem;
$gutter-vertical: 6rem;