.btn {
   // &:link {
   //    // transform: translateX(-1rem);
   // }

   &:link,
   &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 3rem;
      font-size: 1.4rem;
      border-radius: 10rem;
      transition: all .2s;
      box-shadow: 0 0 $default-font-size $color-black-shadow-1;
      position: relative;
   }

   &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem $color-black-shadow-1;

      &::after {
         transform: scaleX(1.4) scaleY(1.5);
         opacity: 0;
      }
   }
   
   &:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem $color-black-shadow-1;
   }

   &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .3s;
   }

   &--white {
      background-color: $color-white;
      color: $color-grey-dark;
      letter-spacing: .1rem;
      margin: auto;
      width: max-content;
      display: block;

      &::after {
         background-color: $color-white;
      }
   }
   
   &--animated {
      animation: moveToUp 1s ease-in-out 800ms backwards;
   }

   &--green {
      background-color: $color-primary;
      color: $color-white;
      letter-spacing: .1rem;
      margin: auto;
      width: max-content;
      display: block;

      &::after {
         background-color: $color-primary;
      }
   }
}

.btn-text {
   &:link,
   &:visited {
      border-radius: 2px;
      font-weight: 700;
      letter-spacing: 1;
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 3px solid $color-primary;
      padding: 1.2rem 1.8rem;
      transition: all .2s;
   }

   &:hover {
      color: $color-white;
      box-shadow: 0 1rem 2rem $color-black-shadow-1;
      transform: translateY(-3px);
      background: linear-gradient(to right, $color-primary-light, $color-primary);
      transition: all .2s;
      border-bottom-color: $color-primary-dark;
   }

   &:active {
      box-shadow: 0 .5rem 1rem $color-black-shadow-1;
      transform: translateY(0);
   }
}