.story {
   width: 75%;
   margin: 0 auto;
   box-shadow: 0 3rem 6rem $color-black-shadow-1;
   background-color: rgba($color-white, .7);
   border-radius: 3px;
   padding: 6rem;
   padding-left: 9rem;
   font-size: $default-font-size;
   transform: skewX(-12deg);

   &__shape {
      width: 17rem;
      height: 17rem;
      float: left;

      overflow: hidden;
      
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: translateX(-3.5rem) skewX(12deg);

      position: relative;
   }

   &__img {
      height: 100%;
      transform: translateX(-4rem);
      backface-visibility: hidden;
      filter: saturate(140%);
      transition: all 1s ease;
   }

   &:hover &__img {
      transform: translateX(-4rem) scale(1.9);
      filter: blur(.8px) brightness(75%);
      transition: all 1s ease;
   }


   &__caption {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, 80%);
      
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      backface-visibility: hidden;
      transition: all .6s ease;
   }

   &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: all .6s ease;
   }

   &__text {
      transform: skewX(12deg);
   }
}