body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.7;
   color: $color-grey-dark;
}

.heading-primary {
   color: $color-white;
   text-transform: uppercase;
   backface-visibility: hidden;
   margin-bottom: 3.2rem;

   &--main,
   &--sub {
      display: block;
      text-shadow: 0.2rem 0.2rem 0.4rem rgba($color-green-shadow, 0.3);
   }

   &--main {
      font-size: 4.5rem;
      font-weight: 400;
      letter-spacing: 2rem;
      animation: moveToRight 0.8s ease-out 200ms;
   }

   &--sub {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 1.24rem;
      animation: moveToLeft 0.8s ease-out 200ms;
   }
}