.u-center-text { text-align: center; }

.u-margin-top-sm { margin-top: 1rem !important;}
.u-margin-top-md { margin-top: 4rem !important;}
.u-margin-top-lg { margin-top: 8rem !important;}
.u-margin-top-hg { margin-top: 10rem !important;}

.u-margin-bottom-sm { margin-bottom: 1.5rem !important; }
.u-margin-bottom-md { margin-bottom: 4rem !important; }
.u-margin-bottom-lg { margin-bottom: 8rem !important; }
.u-margin-bottom-hg { margin-bottom: 10rem !important; }